@default-indent: 20px;

.ti-community-editor {
  border: 1px solid black;
  font-size: 14px;
  padding: 8px 8px 8px 40px;

  h1, h2, h3, h4, h5, h6 {
    &:before {
      color: gray;
      margin-right: 8px;
    }
  }

  h1 {
    &:before {
      content: '#';
    }
  }

  h2 {
    &:before {
      content: '##';
    }
  }

  h3 {
    &:before {
      content: '###';
    }
  }

  h4 {
    &:before {
      content: '####';
    }
  }

  h5 {
    &:before {
      content: '#####';
    }
  }

  h6 {
    &:before {
      content: '######';
    }
  }

  ul, ol {
    padding-left: 0;

    li {
      margin-left: @default-indent;

      > * {
        margin-left: -@default-indent;
        padding-left: @default-indent;
      }
    }
  }

  p {
    margin: 8px 0;
  }

  blockquote {
    background: #efefef;
    padding: 0;
    margin: 0;
    border-left: 4px solid #d8d8d8;

    > * {
      padding-left: @default-indent + 2;
      margin-left: -2px;
    }
  }

  code:not(.prism-code) {
    background: #d8d8d8;
    border-radius: 2px;
    padding: 2px 4px;
  }

  pre {
    position: relative;

    code {
      display: block;
      padding: 8px;
    }

    .lang-selector {
      position: absolute;
      right: 4px;
      top: 4px;
    }
  }

  .active {
    background: rgba(23, 66, 160, .4);
  }
}

