@line-operations-color: black;
@line-operations-size: 20px;
.line-operations {
  height: @line-operations-size;
  width: @line-operations-size;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  color: @line-operations-color;
  border: 2px solid @line-operations-color;
  box-sizing: border-box;
  padding: 0;
}

.block-toolbar {
  .toolbar-group {
    display: flex;
  }
}
